<!-- templates/contact.html -->
{% extends 'base.html' %}

{% block content %}
<section id="contact" class="contact">
    <h2>Contact Us<span class="material-symbols-outlined">contact_phone</span></h2>
    <p>If you have any questions or would like to reach out to us, please use the following contact information.</p>
    <div class="contact-info-wrapper">
        <div class="contact-info">
            <span class="material-symbols-outlined">call</span>
            <p class="phone">(858) 519-2727</p>
        </div>
        <div class="contact-info">
            <span class="material-symbols-outlined">email</span>
            <p class="email">ben@artecommercellc.com</p>
        </div>
    </div>
</section>
{% endblock %}
