<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Art Ecommerce</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/index_styles.css') }}?v={{ version }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/general_styles.css') }}?v={{ version }}">
    <link rel="shortcut icon" href="/static/favicon.ico?v={{ version }}" type="image/x-icon">
    <script src="{{ url_for('static', path='/index.js') }}?v={{ version }}"></script>
    <script src="{{ url_for('static', path='/general_scripts.js') }}?v={{ version }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <nav class="desktop">
            <ul>
                <img src="{{ url_for('static', path='/logo2.png') }}" alt="Art Ecommerce, LLC logo" class="logo">
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#pricing">Pricing</a></li>    
            </ul>
        </nav>
        <nav class="mobile">
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img src="{{ url_for('static', path='/logo2.png') }}" alt="Art Ecommerce, LLC logo" class="logo">
            <ul class="mobile-dropdown">
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#pricing">Pricing</a></li>    
            </ul>
        </nav>
    </header>
    
    <section id="hero" class="hero" style="background-image: url('{{ artistlogo }}');">
        <h1>Art Ecommerce</h1>
        <p class="slogan">Tailored Ecommerce, Web Solutions, and End-to-End Order Fulfillment</p>

    </section>
    
    <section id="about" class="about">
        <h2>About Us<span class="material-symbols-outlined">description</span></h2>
        <p>At Art Ecommerce, we offer comprehensive end-to-end order fulfillment services, alongside creating and hosting custom ecommerce websites that enable artists to sell their work effortlessly. Beyond empowering artists with professional online platforms, we provide extensive web application development services tailored to meet a wide variety of needs. Whether it's building new web applications or enhancing existing sites with advanced functionalities, our expert team delivers practical solutions that align with our clients' visions and goals, ensuring a seamless and efficient ecommerce experience.</p>
        <div class="ceo-headshot-wrapper">
            <div class="ceo-headshot-container">
                <img src="{{ url_for('static', path='/headshot.png') }}" alt="CEO headshot" class="ceo-headshot">
                <div class="ceo-label">
                    Ben Myers<br>
                    CEO/Founder<br>
                    <span class="education">UC Berkeley Graduate, Physics (2023)</span><br>
                    <span class="transition">Physicist Turned Software Developer</span>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact" class="contact">
        <h2>Contact Us<span class="material-symbols-outlined">contact_phone</span></h2>
        <p>If you have any questions or would like to reach out to us, please use the following contact information:</p>
        <div class="contact-info-wrapper">
            <div class="contact-info">
                <span class="material-symbols-outlined">call</span>
                <p class="phone">(858) 519-2727</p>
            </div>
            <div class="contact-info">
                <span class="material-symbols-outlined">email</span>
                <p class="email">ben@artecommercellc.com</p>
                
            </div>
        </div>
    </section>
    
    <section id="community" class="community">
        <h2>Community<span class="material-symbols-outlined">partner_exchange</span></h2>
        <p>Art Ecommerce is dedicated to making your art sell. We build local artists, designers, and photographers a platform that makes that possible. By partnering with us, artists benefit from a robust platform to market and monetize their creativity.</p>
        <div class="logo-wrapper">
            <div class="logo-container">
                <a href="https://www.briglightart.com">
                    <img src="{{ url_for('static', path='/brigLogo.png') }}" alt="Artist logo 1" class="brig-logo">
                </a>
            </div>
        </div>
    </section>
    
    <section id="pricing" class="pricing">
        <h2>Pricing<span class="material-symbols-outlined">local_atm</span></h2>
        <p>Our pricing is based on the complexity of the project, specific requirements of our clients, and the duration of labor. We offer competitive rates and flexible payment options to accommodate various budgets. For a detailed quote, please contact us directly.</p>
    </section>
    
    <footer>
        <p>&copy; 2024 Art Ecommerce, LLC. All rights reserved.</p>
    </footer>
</body>
</html>
