/* static/index_styles.css */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    /* background-image: url('/static/backgroundart.png'); */
    background-size: cover; /* Ensures the image covers the entire width */
    background-position: center; /* Centers the image */
    background-repeat: repeat-y; /* Repeats the image vertically */
}

.logo-white {
    z-index: 2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24s,;
  margin-left: 0.3rem;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.logo-container {
    margin-left: auto;
    margin-right: auto;
}
.phone,.email {
    margin-left: 0.3rem;
}

.brig-logo {
    height: auto;
    width: 100px;

}

.hero {
    position: relative;
    background-color: #ff8215;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin-top: 120px;
    border-radius: 8px;
    overflow: hidden; /* Ensure children respect the border-radius */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--light-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
    letter-spacing: 1px; /* Letter spacing */
}


.hero p {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    color: var(--light-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow */
    line-height: 1.8; /* Line height */
    padding: 0 1rem;
    border-radius: 8px;
    display: inline-block;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 3rem 0 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 10px auto 10px;
    min-height: 870px;
    height: 95vh;
    background-color: white;
    background-image: url('/static/slidebackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about p, .contact p, .clientPartners p, .pricing p, .community p {
    text-align: left;
}

.ceo-headshot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.ceo-headshot-container {
    display: flex;
    align-items: center; /* Align items vertically center */
    margin-left: auto;
    margin-right: auto;
}

.ceo-headshot {
    height: auto;
    width: 100px; /* Match the width to brig-logo */
    border-radius: 50%;
    margin-right: 1rem; /* Space between image and label */
}

.ceo-label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
}

.ceo-label .education, .ceo-label .transition {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--secondary-color);
}


.ceo-label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-color);
}
.contact-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
    letter-spacing: 1px;
}

.slogan-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.slogan-container {
    margin-left: auto;
    margin-right: auto;
}

/* Mobile styles */
@media (max-width: 919px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .hero p {
        font-size: 1.25rem;
    }
    
    section h2 {
        font-size: 2rem;
    }
    
}
